@media (min-width: 768px) {

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(242, 212, 227);
    color: rgb(228, 101, 122);
    padding: 8px 80px 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:2px 5px 10px rgb(238, 162, 188) ;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    padding: 10px 25px;
}
nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: rgb(213, 75, 130);
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

nav ul li a:hover {
    color: rgb(134, 5, 70);
    font-weight: bolder;
    font-size: 22px;
}

#hero {
    background-color: rgb(244, 72, 129);
    height: 70vh;
    background-size: cover;
    color: white;
    text-align: left;
    padding: 100px 20px;
    display: flex;

}

#hero h2 {
    font-size: 35px;
    color: black;
    margin: 10px;
    padding-top: 30px;
}

#hero h2:hover {
    color: #ddd;
    transition: 2s;
}

.hero-content {
    margin-top: 20px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 2px;
    margin: 10px;
}

.hero-content h1:hover {
    color: rgb(35, 30, 30);
    transition: 2s;
}

.hero-content p {
    font-size: 20px;
    margin: 10px;
}

.hero-content h4 {
    margin: 10px;
    font-size: 20px;
    padding-top: 20px;
}

#hero #Home {
    background-color: rgb(202, 7, 111);
    color:rgb(24, 15, 15);
    border-radius: 15px;
    padding: 10px;
    border: none;
}

#hero #Home:hover {
    background: white;
    color: black;
}

#hero #Home2 {
    background-color: white;
    color:rgb(202, 7, 111) ;
    border-radius: 15px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 10px;
    opacity: 0.8;
    border: rgb(191, 248, 242);
}

#hero #Home2:hover {
    background: rgb(202, 7, 111);
    color: white;
}

 #hero .hero-image img {
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 97%;
    margin: bottom 50%;
    margin-top: 0%;
    border: 1px soild palevioletred;
    box-shadow: 10px 18px 15px rgb(166, 73, 104);
}

section {
    padding: 40px 70px;
}

#about {
    background-color: plum;
    background-size: 80px;
}

#about h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: black;
}

#about p{
    padding: 10px;
    text-align:left;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
}

#about p span {
    font-size: 20px;
    font-weight: 600;
    color: darkorchid;
}

#about .skills {
text-align: left;
padding: 10px;
margin-left:80px ;
}

#about .skills h3{
    margin-left:70px ;
    font-size: 22px;
    margin-bottom: 5px;
}

#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: hotpink;
    padding: 20px;
    border: 1px solid rgb(189, 10, 100);
    border-radius: 5px;
    text-align: center;
    margin: 40px;
    justify-content: space-between;
    height: 350px;
    box-shadow: 2px 4px 4px 3px rgb(215, 46, 131);
}

.project-card h3 {
    margin-top: 8px;
}

.project-card button {
    padding: 10px;
    font-size: 15px;
    background: rgb(209, 4, 107);
    border-radius: 4px;
    border: none;
}

.project-card button:hover {
    background-color: palevioletred;
    }

.project-card button a {
    color: white;
    text-decoration: none;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

#contact label {
    margin-top: 10px;
}

#contact h2 {
    text-align: center;
    color: hotpink;
}

#contact input, #contact textarea {
    padding: 10px;
    margin-top: 5px;
    border: 2px solid palevioletred;
    border-radius: 5px;
}

#contact button {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(177, 68, 104);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: rgb(181, 25, 77);
}

footer {
    background-color:rgb(242, 212, 227);
    color: rgb(181, 62, 102);
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    height: 23vh;
    margin: 10px;
}

footer .socials ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 50px
}

footer .socials li a{
    padding: 25px 30px;
    color: hotpink;
    font-size: 30px;
}

footer .socials p {
    padding-top: 25px;
    font-size: 18px;
}

footer .socials li a:hover {
    color: rgb(126, 4, 65);
    font-size: 40px;
}

footer p {
    font-size: 20px;
    padding-top: 40px;
    padding-left: 40px;
    margin-left: 80px;
}

#newsletter form input {
    padding: 13px;
    margin-top: 5px;
    border: 1px solid hotpink;
}

#newsletter form button {
    padding: 10px;
    margin-top: 5px;
    color: black;
    background: hotpink;
    border-radius: 5px;
}

#newsletter form button:hover {
    background: #fff;
    color: hotpink; 
}
}